@model MyVeryFirstCarSite.Areas.Admin.Models.VehicleModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountySoldFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountySoldFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CubicCapicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CubicCapicity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPreviousOwners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPreviousOwners)
        </dd>

       
    </dl>
</div>
<p>
    @Html.Partial("_EditButtonPartial", Model.Id)
    @Html.Partial("_BackToListButtonPartial")
</p>
